config.local
.env
settings.json

node_modules/

dist/
build/
out/

*.tmp
*.log
*.swp
*.bak
*.backup
*.old
*.orig
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.iso


.vscode/

cache/

*.pem 
*.key 
*.crt

*.result
*.coverage

Thumbs.db
.DS_Store

Tarjeta de presentacion Jairo_Cardenas.docx

original.html 
assets/css/originales.css 


