* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #615e5e;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.contenedor {
  background-color: #fff;
  height: 680px;
  width: 350px;
  box-shadow: 0 13px 33px #000;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-family: sans-serif;
  border-radius: 3%;
}


.shape {
  background-image: url(disenyador-web.jpg);
  background-size: cover;
  height: 250px;
  width: 450px;
  margin-left: -20px;
  position: relative;
  top: -70px;
  box-shadow: 0 5px 15px #000;
}

.image_anim{
  align-self: start;
}

.image {
  height: 120px;
  width: 120px;
  background-image: url(jairo_A-febrero_2026_1.png);
  position: relative;
  top: 190px;
  margin-left: 140px;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 3px rgb(58, 54, 54);
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    border: 1px solid #fff;
  }
}

.title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 6px;
  color: #002244;
}

.css-button {
  min-width: 80px;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #212529;
  z-index: 1;

}

.css-button:hover:after {
  width: 100%;
  left: 0;
  background-color: rgb(40, 163, 194);
}

.css-button:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #343a40;
  right: 0;
}

h3 {
  font-size: 1.75em;
  margin-bottom: 10px;
}

p {
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.5;
}

.hide {
  font-weight:800;
  font-size: 13px;
  color: rgb(40, 163, 194);
  margin-bottom: 5px;
  display: none;
}

.show {
  display: block;
}

.icon_cv {

  margin-top: 20px;
}

.icon_cv i {
  font-size: 37px;
  transition: 0.3s;
  color: #000;
}

.icon_cv i:hover {
  transform: scale(1.25);
  color: rgb(40, 163, 194);
}

.icons_rds {
  margin-top: 25px;
}

.icons_rds i {
  margin-left: 13px;
  font-size: 33px;
  transition: 0.3s;
  color: #000;
}

.icons_rds i:hover {
  transform: scale(1.25);
  color: rgb(40, 163, 194);
}

.icons_vzla {
  margin-top: 17px;
}


.bandera_vzla{
  animation: mybandera 5s infinite;
}

@keyframes mybandera {
  50% {
    scale: 1.7;
  }
}