/* Badge de Nuevo Proyecto */
.badge-new {
    position: absolute;
    top: -8px;
    right: -5px;
    background: linear-gradient(45deg, #28a3c2, #002244);
    color: white;
    font-size: 0.6rem;
    font-weight: 800;
    padding: 2px 8px;
    border-radius: 10px;
    z-index: 20;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: 1px solid white;
    pointer-events: none; /* Para que no interfiera con el clic del botón */
    animation: softPulse 2s infinite;
}

@keyframes softPulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}